
# Ignore environment files
.env

# Ignore virtual environments
.thesis_venv/
.venv_Master/

# Ignore Python cache files
__pycache__/
**/__pycache__/
*.py[cod]


# Ignore WebUI cache
.webui_secret_key__pycache__/
notebooks/few-shot/fox/scripts/

